*{
    text-decoration: none;
    list-style: none;
    border: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root{
    --color-priamry:#7380ec;
    --color-danger:#ff606d;
    --color-succcess:#41f1b6;
    --color-warning:#ffbb55;
    ---color-info-dark:#7d8da1;
    --color-info-light:#dec1eb;
    --color-dark:#363949;
    --color-light:rgba(132, 139, 200 ,0.18);
    --color-primary-varient:#111e88;
    --color-dark-varient:#677483;
    --color-background:#f6f6f9;

}


section{
    width: 100%;
    height: 100vh;
    background: url('back.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

h1{
    
    font-size: 3rem;
}

h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}

.auto-input{
    color: var(--color-danger);
}


.face{
    color: #1877f2;
}


.btn{
    font-family: 'Press Start 2P', cursive;
    padding: 18px 35px;
    background-color: var(--color-danger);
    color: var(--color-succcess);
    border-radius: 8px;
    border: 2px solid transparent;
    

}

.terms{
    position: absolute;
    right: 90px;
    top: 68px;
    font-size: 1.1rem;
    color: var(--color-danger);
    transition: .4s ease;
 
}



@media screen and (max-width:600px){

    h1{
    
    font-size: 2rem;
    }

    h2{
        font-size: 1rem;
    }

    .terms{
        position: absolute;
        right: 25px;
        top: 60px;
        font-size: 1.1rem;
        color: var(--color-danger);
    }
    
}


.btn:hover{
    background: transparent;
    border:2px solid var(--color-danger);
}